.sidebar-chat {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 20px;
    // border-bottom: 1px solid #3f4448;
    cursor: pointer;
    color: #b1b3b5;
    font-family: Arial, Helvetica, sans-serif;
    // text-decoration: none;
    


    .sidebar-chat-info {
        // border-bottom: 1px solid #3f4448;
        width: 100%;
        margin-left: 20px;

        h2 {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 8px;
        }

        p {
            // font-weight: 400;
            color: #898b8c;
            white-space: pre-line;
        }

        .bottom-border-hr {
            border-bottom: 1px solid #3f4448;
            width: 100%;
            position: relative;
            top: 20px;
        }
    }
}

.sidebar-chat:hover {
    background-color: #323739;
}

.sidebarChat__link {
    text-decoration: none;
}
